body{

    text-align: center;
    background: url("../images/bg.jpg");


}
#game{
    width: 502px;
    height: 462px;
    margin: 0 auto;
    border: 1px solid #666;
    border-radius: 10px;
    background-image: url("../images/table.jpg");
    position: relative;
     display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align:center ;
    align:center ;



}
#cards{
    width: 380px;
    height: 4009px;
    position: relative;




}
.card{
    height: 120px;
    width: 80px;
    position: absolute;
    margin-top: 30px;


}
.face{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    -webkit-backface-visibility:hidden;
    -webkit-transition:all 0.5s;




}
.face:hover{
    -webkit-box-shadow:  0 0 40px #aaa;

}
.front{

    background:#999 url("../images/deck.png") 0 -480px;
    z-index: 10;

}
.back{

    background:#efefef url("../images/deck.png");
    -webkit-transform:rotateY(-180deg) ;
    z-index: 8;


}
.cardAJ{  background-position:-800px 0 ;}
.cardAQ{  background-position:-880px 0 ;}
.cardAK{  background-position:-960px 0 ;}
.cardBJ{  background-position:-800px -120px;}
.cardBQ{  background-position:-880px -120px ;}
.cardBK{background-position:  -960px   -120px;}
.card-flipped .front{
    z-index: 8;
    -webkit-transform: rotateY(180deg);
}
.card-flipped .back{
    z-index: 10;
    -webkit-transform: rotateY(0deg);
}
.card-removed{opacity: 0;}

